<header class="header">
  <nav class="layout nav">
    <a href="/" class="logo"><img src="/assets/store.svg" alt="Floral Fantasy logo"></a>

    <div class="menu-icon" data-menu="open">
      <img src="/assets/menu.svg" alt="">
    </div>

    <ul class="header__menu" data-menu="list">
      <span class="menu-close" data-menu="close"><img src="/assets/close.svg" alt=""></span>
      <li><a href="/" class="<%= path === '/shop' && 'active-link' %>">Shop</a></li>

      <li><a href="/products" class="<%= path === '/products' && 'active-link' %>">Products</a></li>

      <li><a href="/cart" class="<%= path === '/cart' && 'active-link' %>">Cart</a></li>

      <li><a href="/orders" class="<%= path === '/orders' && 'active-link' %>">Orders</a></li>

      <li><a href="/admin/add-product" class="<%= path === '/admin/add-product' && 'active-link' %>">Add product</a></li>

      <li><a href="/admin/products" class="<%= path === '/admin/products' && 'active-link' %>">Admin products</a></li>
    </ul>
    <div class="menu-backdrop" data-menu="backdrop"></div>
  </nav>
</header>