<%- include('../includes/head', { styles: styles })%>
  </head>

  <body>

    <%- include('../includes/navigation', { linkPath: '' })%>

      <main class="layout main">
        <% if (products.length> 0) { %>
          <h2 class="title">
            <%= pageTitle %>
          </h2>

          <ul class="cart__list">
            <% products.forEach(prod=> { %>
              <li class="cart__item">
                <div class="cart__item--image">
                  <img src="<%= prod.productData.imageUrl %>" alt="<%= prod.productData.title %>">
                </div>
                <div class="cart__item--details">
                  <h4>
                    <%= prod.productData.title %>
                  </h4>
                  <p>Quantity: <span>
                      <%= prod.qty %>
                    </span></p>
                  <p>Subtotal: <span>$ -</span></p>

                  <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="productId" value="<%= prod.productData.id %>">
                    <button type="submit" class="cart__item--action">Delete</button>
                  </form>
                </div>
              </li>
              <% }) %>
          </ul>
          <% } else { %>
            <h2 class="title">
              No products in cart!
            </h2>
            <% } %>
      </main>

      <%- include('../includes/end') %>